<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" />
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    {{ partial "schema" . }}

    <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{ "images/favicon.ico" | absURL}}">
	  <link rel="apple-touch-icon" href="{{ "images/apple-touch-icon.png" | absURL}}" />
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ if .IsPage }} <meta name="description" content="{{ .Description | default (substr .Summary 0 160) }}" /> {{ else }}
    <meta name="description" content="{{ .Site.Params.metadescription | default .Site.Params.description }}" /> {{ end }}

    <!--
    {{ if .Keywords }}<meta name="keywords" content="{{ with .Keywords }}{{ delimit .  ","  }}{{ else }}{{ default .Site.Params.keywords }}{{ end }}">{{ end }}
    -->
    <meta name="keywords" content="{{ if .IsPage}}{{ range $index, $tag := .Params.tags }}{{ $tag }}, {{ end }}{{ else }}{{ with .Keywords }}{{ delimit .  ","  }}{{ else }}{{ default .Site.Params.keywords }}{{ end }}{{end}}" />

    {{ range $data := .Site.Params.metaTags }}<meta {{ range $key, $value := $data }} {{ $key | safeHTMLAttr }}="{{ $value | safeHTMLAttr }}" {{ end }} /> {{ end }}

    <link rel="stylesheet" href="/built/screen.css">
    <link rel="stylesheet" href="/css/casper-three.css">
    
    {{ if .Site.Params.hjsStyle }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{ .Site.Params.hjsStyle }}.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    {{ if or .Site.Params.hjsExtraLanguages .Params.hjsExtraLanguages }}
        {{ range $index, $language := (union .Site.Params.hjsExtraLanguages .Params.hjsExtraLanguages) }}
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{ $language }}.min.js"></script>
        {{ end }}
    {{ end }}
    <script>hljs.initHighlightingOnLoad();</script>
    {{end}}
    {{ range .Site.Params.customCSS }} <link rel="stylesheet" href="{{ . | absURL }}" /> {{ end }}

    {{ if .Site.Params.RSSLink}}<link href="{{.Site.Params.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" /> {{else}}{{ if eq .URL "/" }}<link href="{{ "index.xml" | absURL}}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" /> {{ end }} {{ end }}
</head>

<body class="{{ block "body_class" . }} {{ end }}">

    <div class="site-wrapper">
        {{- block "main" . }}{{- end }}


        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{ .Site.BaseURL }}">{{.Site.Params.orgName}}</a> &copy; {{ now.Format "2006" }} | 
                    Made with
                    <svg class="mx-1" height="16" width="16" viewBox="0 0 47.5 47.5" style="enable-background:new 0 0 47.5 47.5">
                        <clipPath id="clipPath16" clipPathUnits="userSpaceOnUse">
                            <path id="path18" d="M0 38H38V0H0V38z"></path>
                        </clipPath>
                        <g transform="matrix(1.25,0,0,-1.25,0,47.5)" id="g10">
                            <g id="g12">
                                <g clip-path="url(#clipPath16)" id="g14">
                                    <g transform="translate(36.8848,25.1665)" id="g20">
                                        <path id="path22" style="fill:#be1931;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                            d="m0 0c0 5.45-4.418 9.868-9.867 9.868-3.308.0-6.227-1.633-8.018-4.129-1.79 2.496-4.71 4.129-8.017 4.129-5.45.0-9.868-4.418-9.868-9.868.0-.772.098-1.52.266-2.241 1.371-8.512 10.835-17.494 17.619-19.96 6.783 2.466 16.249 11.448 17.617 19.96C-.098-1.52.0-.772.0.0">
                                        </path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                Powered by
                <a href="https://gohugo.io" target="_blank" rel="noopener" style="opacity: 0.5;">
                   Hugo {{ hugo.Version }}
                </a>
                </section>
                <nav class="site-footer-nav">
                    <a href="{{ .Site.BaseURL }}">Latest Posts</a>
                    {{ if .Site.Params.facebook }}<a href="{{ .Site.Params.facebook }}" target="_blank" rel="noopener">Facebook</a>{{ end }}
                    {{ if .Site.Params.twitter }}<a href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener">Twitter</a>{{ end }}
                    {{ if .Site.Params.github }}<a href="{{ .Site.Params.github }}" target="_blank" rel="noopener">Github</a>{{ end }}
                    
                </nav>
            </div>
        </footer>

    </div>

</body>
</html>