{{ define "body_class" }} tag-template  {{ end }}

{{ define "main" }}

<header class="site-header site-archive-header">
    {{- partial "site-header.html" $ -}}

    {{- partial "header-background.html" $ -}}
        <div class="inner site-header-content">
            <h1 class="site-title">{{ .Title | humanize }}</h1>
            <h2 class="site-description">
                A collection of {{ len .Pages }} post{{ if gt (len .Pages) 1 }}s{{ end }}
            </h2>
        </div>
    </div>
</header>

<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="post-feed">
            {{ range $index, $element := .Pages }}
                {{ partial "post-card.html" . }}
            {{ end }}
        </div>
    </div>
</main>

{{ end }}