{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

<header class="site-header">
    {{- partial "site-header.html" $ -}}
</header>

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full post">

            <header class="post-full-header">

                {{ with .Params.tags }}
                    {{ $primaryTag := (index . 0) }}
                    <section class="post-full-tags">
                        <a href="{{ "/tags/" | relLangURL }}{{ $primaryTag | urlize }}">{{ $primaryTag }}</a>
                    </section>
                {{ end }}

                <h1 class="post-full-title">{{ .Title }}</h1>

                {{ if .Param "summary" }}
                    <p class="post-full-custom-excerpt">{{ .Summary }}</p>
                {{ end }}

                <div class="post-full-byline">
                    <section class="post-full-byline-content">
                        {{$author := (index $.Site.Params.authors 0)}}
                        {{ partial "post-author" . }}
                        <section class="post-full-byline-meta">
                            <h4 class="author-name">
                                <a href="/authors/{{ $author.name }}">
                                    {{ $author.fullname }}
                                </a>
                            </h4>
                            <div class="byline-meta-content">
                                <time class="byline-meta-date" datetime="{{.Date.Format "2006-31-01"}}">{{.Date.Format "2 January 2006"}}</time>
                                <span class="byline-reading-time"><span class="bull">&bull;</span> {{ .ReadingTime }} min read</span>
                            </div>
                        </section>

                    </section>


                </div>
            </header>

            {{if .Params.image}}
            <figure class="post-full-image">
                <img src="{{.Params.image | absURL}}" alt="{{ .Title }}">
            {{else}}
                <img src="{{ .Site.Params.cover | absURL }}" alt="{{ .Title }}">
            </figure>
            {{end}}

            <section class="post-full-content">
                <div class="post-content">
                    {{ .Content }}
                </div>
            </section>

        </article>

    </div>
    {{ partial "disqus" . }}
</main>

{{- partial "post-navigation.html" . -}}

<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
</script>
<script src="/built/casper.js"></script>
<script>
    $(document).ready(function () {
        // FitVids - start
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        // FitVids - end

        // Hover on avatar
        var hoverTimeout;
        $('.author-list-item').hover(function () {
            var $this = $(this);

            clearTimeout(hoverTimeout);

            $('.author-card').removeClass('hovered');
            $(this).children('.author-card').addClass('hovered');

        }, function () {
            var $this = $(this);

            hoverTimeout = setTimeout(function () {
                $this.children('.author-card').removeClass('hovered');
            }, 800);
        });
    });
</script>

{{ end }}