{{$author := (index $.Site.Params.authors 0)}}
<ul class="author-list">
    <li class="author-list-item">
        <div class="author-card">
            <div class="author-profile-image">
                <img class="author-profile-image" src="{{ $author.image }}">
            </div>
            <div class="author-info">
                <div class="author-info">
                    <h2>{{ $author.fullname }}</h2>
                </div>
            </div>
        </div>
        <a href="/authors/{{ $author.name }}">
            <img class="author-avatar author-profile-image" src="{{ $author.image }}">
        </a>
    </li>
</ul>