{{$author := (index $.Site.Params.authors 0)}}
<ul class="author-list">
    <li class="author-list-item">
        <div class="author-card">
            <img class="author-profile-image" src="{{ $author.image }}" alt="{{ $author.fullname }}" />
            <div class="author-info">
                {{ if $author.bio }}
                <div class="bio">
                    <h2>{{ $author.fullname }}</h2>
                    <p>{{ $author.bio }}</p>
                    <p><a href="/authors/{{ $author.name }}">More posts</a> by {{ $author.fullname }}.</p>
                </div>
                {{ end }}
            </div>
        </div>
        <a href="/authors/{{ $author.name }}" class="author-avatar">
            <img class="author-profile-image" src="{{ $author.image }}" alt="{{ $author.fullname }}" />
        </a>
    </li>
</ul>