<article class="post-card post">

    {{if .Params.image}}
    <a class="post-card-image-link" href="{{ .Permalink }}">
        <img class="post-card-image" src="{{.Params.image | absURL}}" alt="{{ .Title }}">
    </a>
    {{else}}
    <a class="post-card-image-link" href="{{ .Permalink }}">
        <img class="post-card-image" src="{{ .Site.Params.cover | absURL }}" alt="{{ .Title }}">
    </a>
    {{end}}
    
        <div class="post-card-content">
    
            <a class="post-card-content-link" href="{{ .Permalink }}">
    
                <header class="post-card-header">
                    {{ with .Params.tags }}
                        {{ $primaryTag := (index . 0) }}
                        <div class="post-card-primary-tag">{{ $primaryTag }}</div>
                    {{ end }}

                    <h2 class="post-card-title">{{ .Title }}</h2>
                </header>
    
                <section class="post-card-excerpt">
                    <p>{{ .Summary }}</p>
                </section>
    
            </a>

            <footer class="post-card-meta">
                {{$author := (index $.Site.Params.authors 0)}}
                <ul class="author-list">
                    <li class="author-list-item">
                        <div class="author-name-tooltip">{{ $author.fullname }}</div>
                        <a href="/authors/{{ $author.name }}">
                          <img  class="static-avatar author-profile-image" src="{{ ($author.image | default .Site.Params.authorAvatar) | absURL}}" alt="{{ $author.fullname }}"/>
                        </a>
                    </li>
                </ul>
                <div class="post-card-byline-content">
                    <a href="/authors/{{ $author.name }}">
                        <span>{{ $author.fullname }}</span>
                     </a>
                        <span class="post-card-byline-date"><time datetime="{{ .Date.Format "2006-31-01" }}">{{ .Date.Format "2 January 2006" }}</time>
                            <span class="bull">&bull;</span> {{ .ReadingTime }} min read</span>
                    </div>
                </footer>
    
        </div>

</article>
    